.navbar-desktop {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: sticky;
  top: 40px;
  padding: 0 300px;
  height: 60px;
  z-index: 1000; /* <- DONT LOWER THIS VALUE */
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
}

.desktop-nav-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: fit-content;
  flex: 1;
  gap: 10px;
  padding: 10px 15px;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 1;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.desktop-nav-item:hover {
  color: var(--color-accent);
  transform: scale(1.03);
  filter: brightness(0.97);
}

.desktop-nav-item.active {
  font-weight: bold;
  color: var(--color-primary);
  transform: scale(0.98);
}

@media (max-width: 1600px) {
  .navbar-desktop {
    padding: 0 200px;
    top: 35px;
  }

  .desktop-nav-item {
  font-size: 26px;
  gap: 8px;
  padding: 8px 12px;
  } 
}

@media (max-width: 1300px) {
  .navbar-desktop {
    padding: 0 100px;
    top: 30px;
  }

  .desktop-nav-item {
    font-size: 22px;
    gap: 6px;
    padding: 8px 10px;
  }

  section {
    min-height: 75vh;
  }
}

@media (max-width: 900px) {
  .navbar-desktop {
    padding: 0 50px;
    top: 25px;
    height: 55px;
  }

  .desktop-nav-item {
    font-size: 19px;
    gap: 4px;
    padding: 8px;
  }

  section {
    min-height: 60vh;
  }
}

@media (max-width: 600px) {
  .navbar-desktop { display: none; }

  .desktop-nav-item {
    font-size: 16px;
    gap: 3px;
    padding: 6px;
  }

  section {
    min-height: 50vh;
  }
}

@media (max-width: 400px) {
  .navbar-desktop { display: none; }

  .desktop-nav-item {
    font-size: 14px;
    gap: 2px;
    padding: 5px;
  }

  section {
    min-height: 50vh;
  }
}