.portfolio {
    background-color: var(--color-dark);
    position: relative;
    padding: 150px 0px;
    z-index: 1;
    min-height: 100vh;
}

.portfolio-title {
    padding: 20px 100px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: var(--color-white);
}

.portfolio-title-yellow {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: var(--color-primary);
}

.project-image {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.portfolio-carousel-track {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding:  50px 50px;
}

.portfolio-carousel-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.portfolio-carousel-sound-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding-right: 5px;
    gap: 3px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: var(--color-white);
    cursor: pointer;
}

.portfolio-carousel-sound-btn-yellow {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: var(--color-primary);
}

.portfolio-carousel-sound-btn img {
    width: 15px;
    height: 15px;
}

.portfolio-carousel-sound-btn:hover {
    transform: scale(1.03);
    filter: brightness(0.97);
}

.portfolio-carousel-sound-btn:active {
    transform: scale(0.98);
}

.portfolio-carousel-btn {
    background: transparent;
    border: none;
    margin: 0 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.portfolio-carousel-btn img {
    width: 60px;
    height: 60px;
}

.portfolio-carousel-btn:hover {
    transform: scale(1.03);
    filter: brightness(0.97);
}

.portfolio-carousel-btn:active {
    transform: scale(0.98);
}